<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1086106979278-0mcjifdrui3oc7chdmsv6ejf6h02qfp4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1086106979278-0mcjifdrui3oc7chdmsv6ejf6h02qfp4</string>
	<key>API_KEY</key>
	<string>AIzaSyDYXdPpv5E-Jo3vaZcWhDKnFHnybyyUrxE</string>
	<key>GCM_SENDER_ID</key>
	<string>1086106979278</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.LeftOver</string>
	<key>PROJECT_ID</key>
	<string>leftover-fe99c</string>
	<key>STORAGE_BUCKET</key>
	<string>leftover-fe99c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1086106979278:ios:3b3651752070433cadb99f</string>
	<key>DATABASE_URL</key>
	<string>https://leftover-fe99c.firebaseio.com</string>
</dict>
</plist>